
<div class="container-fluid" style="padding: 0;">
    <!-- <nav class="navbar navbar-expand-lg shadow  px-5 "
                    style=" background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );""> -->
    <nav class="navbar navbar-expand-lg shadow  px-5 bg-body-tertiary " data-bs-theme="dark">
        <div class=" container-fluid text-white">
        <a class=" navbar-brand" href="/">
            <img src="https://res.cloudinary.com/dwxs377sr/image/upload/v1715537445/EMS/logo_white.svg" alt="" width="80"
                height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-muted" aria-current="page" href="/"><span
                            class="nav-icons">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted " href="#"><span class="nav-icons">About Us</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        Clubs
                    </a>
                    <ul class="dropdown-menu bg-light">
                        <li><a class="dropdown-item text-dark" href="/photoClub"><i class="fa-solid fa-camera me-2"></i>Photography Club</a>
                        </li>
                        <li><a class="dropdown-item text-dark" href="/literaryClub">Literary Club</a></li>
                        <li><a class="dropdown-item text-dark" href="/artClub">Art Club</a></li>
                        <li><a class="dropdown-item text-dark" href="/musicClub">Music Club</a></li>
                        <li><a class="dropdown-item text-dark" href="/flimClub">Flim Club</a></li>
                        <li><a class="dropdown-item text-dark" href="/hikingClub">Hiking Club</a></li>
                        <li><a class="dropdown-item text-dark" href="/socialClub">Tint Covid Group</a></li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-muted" href="/event"><span class="nav-icons">Events</span></a>
                </li>
                <% if(currentUser && currentUser.isAdmin==true){ %>
                    <li class="nav-item ">
                        <a class="nav-link text-muted" href="/addEvent" aria-disabled="true">Add Event</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-muted" href="/addStudent" aria-disabled="true">Add Student</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-muted" href="/allStudents" aria-disabled="true">All Students</a>
                    </li>
                    <% } %>
            </ul>
            <div class="navbar-nav ">
                <% if(!currentUser){ %>
                    <a href="/studentLogin" class="nav-link text-white "><span class="nav-icons">Student Login</span></a>
                    <a href="/adminLogin" class="nav-link text-white "><span class="nav-icons">Admin Login</span></a>
                    <% }else{ %>
                        <% if(currentUser.isAdmin==false){ %>
                            <a href="/user/<%= currentUser._id %>" class="nav-link text-white">
                                <%= currentUser.username.toUpperCase() %>
                            </a>
                            <% }else{ %>
                                <a href="/admin/<%= currentUser._id %>" class="nav-link text-white">
                                    <%= currentUser.username.toUpperCase() %>
                                </a>
                                <% } %>
                        <a href="/logout" class="nav-link text-white nav-icons"><span
                                class="nav-icons">Logout</span></a>
                        <% } %>
            </div>
        </div>
</div>
</nav>

</div>
<%- include('../layouts/flash.ejs') %>