<!DOCTYPE html>
<html lang="en">

  <%- include('./layouts/head.ejs') %>

  <body>
    <%- include('./layouts/Home Screen/roundedNavbar.ejs') %>

      <!-- Header Section  -->
      <section>
        <%- include('./layouts/Home Screen/headerSection.ejs') %>
      </section>

      <!-- NoticeBoard Section  -->
      <section class="container-fluid d-flex justify-content-center py-2 px-0">
        <%- include('./layouts/Home Screen/noticeBoardSection.ejs') %>
      </section>

      <!-- Upcoming Events Section  -->
      <section class="mt-5 py-5">
        <%- include('./layouts/Home Screen/upcomingEventsSlider.ejs') %>
      </section>

      <!-- Clubs Section  -->
      <section class="container-fluid d-flex justify-content-center py-2 px-0"
        style="background-image: url('/images/curved.jpg'); background-size: cover;">
        <%- include('./layouts/Home Screen/clubCardSection.ejs') %>
      </section>

      <!-- Contact Us Section  -->
      <section class="container">
        <%- include('./layouts/Home Screen/contactUsSection.ejs') %>
      </section>

      <div id="calendar" class="m-auto my-5" style="width: 500px;">
      </div>

      <!-- Footer Section  -->
      <section>
        <%- include('./layouts/footer.ejs') %>
      </section>

      <script src="/js/calender.js"></script>
      <script src="/js/maps.js"></script>
      <script src="/js/counter.js"></script>


</body>


</html>