<!DOCTYPE html>
<html lang="en">

    <%- include('./layouts/head.ejs') %>


  <body style="height: 100%">
    <%- include('./layouts/Home Screen/roundedNavbar.ejs') %>

      <!-- Header Section  -->
      <section>
        <%- include('./layouts/Home Screen/headerSection.ejs') %>
      </section>

      <!-- NoticeBoard Section  -->
      <section class="container-fluid d-flex justify-content-center py-2 px-0 ">
        <%- include('./layouts/Home Screen/aboutUsSection.ejs') %>
      </section>

      <!-- Upcoming Events Section  -->
      <section class="my-5">
        <%- include('./layouts/Home Screen/upcomingEventsSlider.ejs') %>
      </section>

      <!-- Clubs Section  -->
      <section class="container-fluid d-flex justify-content-center py-2 px-0 my-5">
        <%- include('./layouts/Home Screen/clubCardSection.ejs') %>
      </section>
      <section class="container-fluid d-flex justify-content-center py-2 px-0 my-5">
        <%- include('./layouts/Home Screen/testimonialsSection.ejs') %>
      </section>
      
      <section class="container-fluid d-flex justify-content-center py-2 px-0 my-5">
        <%- include('./layouts/Home Screen/blogPageSection.ejs') %>
      </section>

      <!-- Contact Us Section  -->
      <section class="container-fluid d-flex justify-content-center py-2 px-0 my-5">
        <%- include('./layouts/Home Screen/contactUsSection.ejs') %>
      </section>


      <!-- Footer Section  -->
      <section>
        <%- include('./layouts/footer.ejs') %>
      </section>

      

      <script src="/js/calender.js"></script>
      <script src="/js/maps.js"></script>
      <script src="/js/counter.js"></script>


</body>


</html>