<!DOCTYPE html>
<html lang="en">
    
<%- include('../layouts/head.ejs') %>

    <body style="display: flex;
                    flex-direction: column;
                    min-height: 100vh;">
        <section>
            <%- include('../layouts/navbar.ejs') %>
        </section>
        
<section class="container my-3">
    <% for(let e of event){ %>
        <div class="card mb-3 shadow-sm">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="<%= e.images[0].url %>" style="height: 250px;" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= e.Name %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= e.startDate %>
                        </h6>
                        <p class="card-text">
                            <%= e.Location %>
                        </p>
                        <a href="/event/<%= e._id %>" class="btn btn-primary">View Event</a>
                    </div>
                </div>
            </div>
            </div>
        <% } %>
            </section>


            <section style=" margin-top: auto;">
                <%- include('../layouts/footer.ejs') %>
            </section>

    </body>

</html>