<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head.ejs') %>

    <body>
        <%- include('../layouts/navbar.ejs') %>

                <section class="container  p-3">
                    <div class="row m-auto">
                        <div class="col-6">
                            <div class="card mb-3">

                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% event.images.forEach((img,i)=> { %>
                                            <div class="carousel-item <%= i==0 ? 'active':' ' %>">
                                                <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                        </div>
                                        <% }) %>
                                            </div>
                                <% if(event.images.length>1){ %>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <% } %>
                                </div>


                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= event.Name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= event.Description %>
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-muted">
                                        <%= event.Location %>
                                    </li>
                                    <li class="list-group-item text-muted">Submitted By <%= author.username %>
                                    </li>
                                    <li class="list-group-item">price</li>
                                </ul>

                                <% if(currentUser && currentUser.isAdmin==true){ %>
                                    <div class="card-body">
                                        <a href="/event/<%=event._id %>/edit " class="card-link btn btn-info">Edit</a>
                                        <form class="d-inline" action="/event/<%= event._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                        </div>
                                        <% } %>

                                <div class="card-footer text-muted">
                                    2days ago
                                </div>
                            </div>


                        </div>


                        <div class="col-6">
                            <div class="row">
                                <div class="map rounded " id="map" style="height: 300px;width: 100%;"></div>
                            </div>
                            <% if(currentUser && currentUser.isAdmin==true){ %>
                                <div class="row my-4">
                                    <div class="card-body">
                                        <a href="/scanQR/<%= event._id %>" class=" card-link btn btn-info" style="width: 100%;">Scan QR to Verify
                                            Student</a>
                                    </div>
                                </div>
                                <% } %>
                            <% if(currentUser && currentUser.isAdmin==false){ %>
                                <% if(event.limit<event.count){ %>
                                    <div class=" row my-4">
                                        <button class="btn btn-danger" disabled>Sorry, Maximum limit reached</button>
                                    </div>
                                    <% }else{ %>
                                        <% if(event.registeredUsers[0]){let temp=1; %>
                                            <% for(let e of event.registeredUsers){ %>
                                                <% if(e.equals(currentUser._id)){ %>
                                                    <div class=" row my-4">
                                                        <button class="btn btn-primary" disabled>Already Registered</button>
                                                    </div>
                                                    <% temp=0;break;}else{continue;}%>
                                                        <% } %>
                                                            <% if(temp==1){ %>
                                                                <form action="/registerEvent/<%= event._id %>" method="POST">
                                                                    <div class="row my-4">
                                                                        <button class="btn btn-primary" type="submit">Register for event</button>
                                                                    </div>
                                                                </form>
                                                                <% } %>
                                                                    <% }else{ %>
                                                                        <form action="/registerEvent/<%= event._id %>" method="POST">
                                                                            <div class="row my-4">
                                                                                <button class="btn btn-primary" type="submit">Register for
                                                                                    event</button>
                                                                            </div>
                                                                        </form>
                                                                        <% }%>
                                                                            <% } %>
                                                                                <% }%>
                        </div>
                    </div>
                </section>


<%- include('../layouts/footer.ejs') %>
    <script>
                    var map, marker;
                    /*Map Initialization*/
                    function initMap1() {
                        map = new mappls.Map('map', {
                            center: [22.57, 88.36],
                            zoom: 10
                        });
                        map.addListener('load', function () {
                            var optional_config = {
                                geolocation: false,
                                region: "IND",
                                height: 300,
                            };
                            new mappls.search('<%=event.Location %>', optional_config, callback);
                            function callback(data) {
                                if (data) {
                                    var dt = data[0];
                                    if (!dt) return false;
                                    var eloc = dt.eLoc;
                                    var place = dt.placeName + ", " + dt.placeAddress;
                                    /*Use elocMarker Plugin to add marker*/
                                    if (marker) marker.remove();
                                    mappls.pinMarker({
                                        map: map,
                                        pin: eloc,
                                        popupHtml: place,
                                        popupOptions: {
                                            openPopup: true
                                        }
                                    }, function (data) {
                                        marker = data;
                                        marker.fitbounds();
                                    })
                                }
                            }
                        });
                    }
                </script>
</body>
</html>