<!doctype html>
<html lang="en">
<%- include('../layouts/head.ejs') %>
    <style>
        .tablesection {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
    
        .tablesection thead tr {
            color: #ffffff;
            text-align: left;
        }
    
        .tablesection th,
        .tablesection td {
            padding: 12px 15px;
        }
    
        .tablesection tbody tr {
            border-bottom: 1px solid #dddddd;
        }
    
        .tablesection tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
    
        .tablesection tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    
        .tablesection tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    
        .featurette-heading {
            display: flex;
            align-items: center;
            height: 250px;
            /* You can adjust this value to fit your needs */
        }
    
        .featurette-heading p {
            margin: 0;
        }
    
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <body>
<header>
            <%- include('../layouts/navbar.ejs') %>
        </header>
        
        <main>
        
            <section class="bg-dark justify-content-center mb-5">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active justify-content-center">
                            <img src="https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block m-auto" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
        
                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>TINT Art Club - Aesthetica</h1>
                                    <p>AESTHETICA - the Art Club of TINT, is the official Art club of Techno International New Town, has been established with an aim to inculcate among students a deep passion for visual arts with an aesthetic touch.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block w-100" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
                            
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>TINT Art Club - Aesthetica</h1>
                                    <p>The club provides a platform for students to develop their creativity and self-expression, and to nurture a deep rooted understanding of concepts and ideas in art. It provides support and encouragement for those students who are seeking a creative break in addition to their academic schedule.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                            </div>
                            <div class="carousel-item">
                            <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                class="d-block w-100" alt="" style="height: 600px;width: 80%; opacity: 0.4; z-index: 10;">
                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>TINT Art Club - Aesthetica</h1>
                                    <p>Manifest the artist within.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
            </section>


<div class="container marketing">
    <div class="text-start">
        <h3 class="mb-3 display-6">Our Mentors</h3>
    </div>
    <div class="row my-5 py-5 text-center ">
                    <div class="col-lg-4">
                        <img src="../images/aavatar_1.png" alt="" class="mb-2 rounded-circle p-3" style="width:200px ; height: 200px;">

                        <h2> Prof. (Dr.) Papiya Debnath</h2>
                        <p><h4>Convenor</h4></p>
                        <p> Assistant Professor (BSH)</p>
                        
                        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="../images/aavatar_2.png" alt="" class="mb-2 rounded-circle p-3" style="width:200px ; height: 200px;">
                        
                        <h2> Prof. Anindita Ray</h2>
                        <p><h4>Co-Convenor</h4></p>
                        <p>Assistant HOD (BBA)</p>
                        <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="../images/aavatar_3.png" alt="" class="mb-2 rounded-circle p-3" style="width:200px ; height: 200px;">
                        
                            <h2>Prof. Debraj Chatterjee</h2>
                            <p><h4>Co-Convenor</h4></p>
                            <p>Assistant Professor (CSE)</p>
                            <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                        </div><!-- /.col-lg-4 -->
    </div>
    
    <div class="row my-5">
        <section class="">
            <div class="container ">
                <div class="row">
                                        <div class="col-6 text-start">
                                            <h3 class="mb-3">Upcoming Events </h3>
                                        </div>
                                        <% if(event.length>1){ %>
                                            <div class="col-6 text-end">
                                                <a class="btn btn-primary mb-3 mr-1" data-bs-target="#carouselExampleControls" data-bs-slide="prev" role="button">
                                                    <i class="fa-solid fa-arrow-left"></i>
                                                </a>
                                                <a class="btn btn-primary mb-3" data-bs-target="#carouselExampleControls" data-bs-slide="next" role="button">
                                                    <i class="fa-solid fa-arrow-right"></i>
                                                </a>
                                            </div>
                                            <% } %>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 card card-background card-background-mask-primary tilt my-3 shadow-sm" data-tilt>
                                                        <div class="card-body p-0">
                                                            <div class="container d-flex align-items-center " style="height: 25rem;">
                                                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                                                    <div class="carousel-inner">
                                                                        <% event.forEach((e,i)=> { %>
                                                                            <div class="carousel-item <%= i==0 ? 'active':' ' %> ">
                                                                                <div class=" mb-3">
                                                                                    <div class="row g-0 align-items-center">
                                                                                        <div class="col-md-5">
                                                                                            <img src="<%= e.images[0].url %>" class="img-fluid rounded" alt="..." style="height: inherit;">
                                                                                            </div>
                                                                                            <div class="col-md-7">
                                                                                                <div class="card-body">
                                                                                                    <h5 class="card-title">
                                                                                                        <a href="/event/<%= e._id %>" style="text-decoration: none;">
                                                                                                            <%= e.Name %>
                                                                                                        </a>
                                                                                                    </h5>
                                                                                                    <h6 class="card-text text-muted my-2">
                                                                                                        <%= e.Location %>
                                                                                                    </h6>
                                                                                                    <p class="card-subtitle  my-2">
                                                                                                        <%= e.moment_Date %>
                                                                                                    </p>
                                                                                                    <p class="card-subtitle  my-2">
                                                                                                        <%= e.moment_Time %>
                                                                                                    </p>
                                                                                                    <p class="card-text cut-text my-2 mb-4">
                                                                                                        <%= e.Description %>
                                                                                                    </p>
                                                                                            
                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            <% }) %>
                                                                                                </div>
                                                                                                </div>
                                                                                                </div>
                                                                                                </div>
                                                                                                </div>
                                                                                            
                                                                                                </div>
                                                                                            
                                                                                                </div>
                                                                                                </section>
    </div>
    <div class="row my-5">
                <hr class="featurette-divider">
                
                <div class="row featurette">
                    <div class="col-md-7" data-aos="fade-right">
                        <h2 class="featurette-heading">AESTHETICA would encourage students to express their thoughts, feelings and creativity freely through drawing, sketching and painting.
                            skills<span class="text-muted"></span></h2>
                        <p class="lead">t would further motivate students to actively participate or be directly involved in art competitions.</p>
                    </div>
                    <div class="col-md-5" data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdLkh475UHc6l8LffHThkQ846rOJYhPr89HwT-kcSDki-5ix5u8XDCqwsPsT0EqzPXYn8&usqp=CAU"
                            alt="" class="bd-placeholder-img mb-2 rounded img-fluid"
                            style="width:450px ; height: 450px;">
                    </div>
                    </div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2" data-aos="fade-right">
        <h2 class="featurette-heading">One of the major activities of the club would be to establish art club representatives to help manage and plan activities, and organize group projects.  </span></h2>
        <p class="lead">he club would also organize seminar, competitions and workshop for aesthetic enrichment of the students</p>
    </div>
                    <div class="col-md-5 order-md-1" data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdLkh475UHc6l8LffHThkQ846rOJYhPr89HwT-kcSDki-5ix5u8XDCqwsPsT0EqzPXYn8&usqp=CAU"
                            alt="" class="bd-placeholder-img mb-2 rounded img-fluid"
                            style="width:450px ; height: 450px;">

                    </div>
                    </div>

                <hr class="featurette-divider">
                
                <div class="row featurette">
                    <div class="col-md-7" data-aos="fade-right">
                        <h2 class="featurette-heading">At the same time the club is also looking forward to organize enrichment outing in different places.<span
                                class="text-muted"></span>
                        </h2>
                        <p class="lead">like a museum, art gallery, or figure drawing session.</p>
                    </div>
                    <div class="col-md-5" data-aos="fade-left">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdLkh475UHc6l8LffHThkQ846rOJYhPr89HwT-kcSDki-5ix5u8XDCqwsPsT0EqzPXYn8&usqp=CAU"
                            alt="" class="bd-placeholder-img mb-2 rounded img-fluid"
                            style="width:450px ; height: 450px;">

                    </div>
                </div>
<hr class="featurette-divider">
    </div>
    
    <div class="row">
        <section class="mt-5 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Some pictures of events organised by our club</h1>
                    <p class="lead text-muted">Cherishing yesterday and hoping for better tomorrow</p>
                </div>
                </div>
                </section>

        <section>
            <div class="album py-5">
                <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% for(let i=0;i<9;i++){ %>
                    <div class="col">
                        <div class="card shadow-sm text-center" data-aos="fade-up" data-aos-duration="3000">
                            <img class="img-fluid rounded-top"
                                src="https://images.unsplash.com/photo-1522930600316-3fbc21b657b4?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                            <div class="card-body p-2">
                                <p class="card-text">Event Name</p>
                            </div>
                            </div>
                            </div>
                    <% } %>
            </div>
            </div>
        </div>
        </section>
    </div>

<!-- /END THE FEATURETTES -->


</div>


<!-- /END THE FEATURETTES -->


</div><!-- /.container -->


</main>


    <script>
        AOS.init();
    </script>
    </body>

</html>