<section class="align-items-center d-flex">
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Upcoming Events </h3>
            </div>
            <% if(event.length>1){ %>
                <div class="col-6 text-end">
                    <a class="btn btn-primary mb-3 mr-1" data-bs-target="#carouselExampleControls" data-bs-slide="prev" role="button">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                        <a class="btn btn-primary mb-3" data-bs-target="#carouselExampleControls" data-bs-slide="next" role="button">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        </div>
                    <% } %>
                        </div>
                        <div class="row">
                        <div class="col-12 card card-background card-background-mask-primary tilt my-3" data-tilt>
                            <div class="card-body">
                        <div class="container d-flex align-items-center " style="height: 20rem;">
                        
                        
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <% event.forEach((e,i)=> { %>
                                        <div class="carousel-item <%= i==0 ? 'active':' ' %> ">
                                            <div class=" mb-3">
                                                <div class="row g-0">
                                                    <div class="col-md-4">
                                                        <img src="<%= e.images[0].url %>" class="img-fluid rounded" alt="...">
                                                    </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="/event/<%= e._id %>" style="text-decoration: none;">
                                                        <%= e.Name %>
                                                    </a>
                                                </h5>
                                                <h6 class="card-text text-muted my-2">
                                                    <%= e.Location %>
                                                </h6>
                                                <p class="card-subtitle  my-2">12:00 AM - 2:00
                                                    PM
                                                </p>
                                                <p class="card-text  my-2 mb-4">This is a wider
                                                    card
                                                    with
                                                    supporting text below as a natural lead-in
                                                    to
                                                    additional content. This content is a little
                                                    bit
                                                    longer.</p>
                                                <a href="/event/<%= e._id %>/edit" class="btn rounded btn-primary text-light">Edit
                                                    Event</a>
                                                <a href="/event/<%= e._id %>" class="btn rounded btn-danger">Delete
                                                    Event</a>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                            <% }) %>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>

</div>
</section>